<div class="page-container">
  <div class="main-container">
    <div class="carousel-details-container">
      <div class="image-container skeleton-loading"></div>
      <div class="description-container">
        <div class="line skeleton-loading" style="margin-left: 28%; width: 100px; border-radius:7px;"></div>
        <div class="image-container skeleton-loading" style="width: 450px; height: 300px;"></div>
      </div>
    </div>
    <div class="line skeleton-loading" style="height: 4rem; width: 1040px; border-radius: 10px;"></div>
    <div class="line skeleton-loading" style="height: 4rem; width: 1040px;border-radius: 10px;"></div>
    <div class="buttons-container">
      <div class="line skeleton-loading"></div>
      <div class="line skeleton-loading"></div>
    </div>
  </div>
</div>
