* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(Registration.jpg);
  background-size: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}

nav {
  margin-bottom: 0;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 1px;
  color: transparent;
  margin-left: 2em;
  background: radial-gradient(circle at 10% 50.5%, #ff822f 0%, #f91574 90%);
  background-clip: text;
  padding: 1%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 10px;
  background: rgb(0, 0, 0, 0);
  padding: 20px;
  border: 3px solid #f91574;
  border-left-color: (#f91574 50% #ff822f 50%);
  border-bottom-color: #ff822f;
  border-radius: 20px;
  position: relative;
}

.title {
  font: lem sans-sent;
  background: radial-gradient(circle at 10% 50.5%, #f91574 0%, #ff822f 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: relative;
  text-align: center;
  font-size: 30px;
  border: none;
}

.message,
.signin {
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.a {
  color: #f4af55;
  border: none;
  outline: none;
  background: radial-gradient(circle at 10% 50.5%, #ff822f 0%, #f91574 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.a:hover {
  color: rgb(255, 130, 47);
}

.form-group {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label input {
  width: 100%;
  padding: 18px 17px 9px 17px;
  outline: none;
  border: 1.5px solid #6a767e;
  border-radius: 30px;
}

.form label input+span {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #444a4f;
  font-size: 0.9em;
  transition: 0.3s ease;
}

.form label input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label input:focus+span,
.form label input:valid+span {
  top: 2px;
  font-size: 0.7em;
  font-weight: 300;
  background: radial-gradient(circle at 10% 50.5%, #ff822f 0%, #f91574 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// media queries for small-mobile phones
@media screen and (max-width: 319px) {
  body {
    background: url(Registration-mobile.jpg);
    max-height: 100vh;
    margin-top: 0;

  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;

  }

  .form {
    max-width: 80%;
    padding: 10px;
  }

  .box {
    margin-top: -15%;
  }
}

// media queries for mobile phones
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background: url(Registration-mobile.jpg);
    max-height: 100vh;

  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 5%;
  }

  .form {
    max-width: 90%;
  }
}

// media queries for tablet
@media screen and (max-width: 768px) {

  body {
    background: url(Registration-mobile.jpg);
    height: 100vh;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 25%;
    margin-bottom: 10%;
    font-size: xx-large;
  }

  .form {
    max-width: 90%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  body {
    background: url(Registration-mobile.jpg);
  }
}

// media queries for large screens
@media screen and (min-width: 1025px) and (max-width: 1200px) {

  body {
    background: url(Registration.jpg);
  }
}