<div class="Profile" *ngIf="!loading">
    <div class="sec2">
        <mat-card class="Info-div">
            <mat-card-header>
                <mat-card-title>
                    Personal Details
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="card-sec">
                    <div class="outer-container" *ngFor="let field of fields">
                        <div class="container1">
                            <span class="entities">{{ field.label }}</span>
                        </div>

                        <div class="container2" *ngIf="editMode && editingField === field.key">
                            <input type="text" [(ngModel)]="updateValue"/>
                        </div>
                       
                        <div class="container2" *ngIf="!editMode || (editingField !== field.key && !loading)">
                            <span class="val">{{ field.key === 'fullName' ? (data.firstName + ' ' + data.lastName) : data[field.key] }}</span>
                        </div>
                    
                        <div class="container3" *ngIf="!editMode && !loading" (click)="editField(field.key)">
                            <mat-icon class="edit-icon">edit</mat-icon>
                        </div>
                        
                        <div class="container3" *ngIf="editMode && editingField === field.key" (click)="updateProfile()">
                            <mat-icon class="edit-icon">done</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-card-content> 
            <div class="btn">
                <button class="save-btn" (click)="goToProfile()">Go to Profile Page</button>
            </div>
        </mat-card>
    </div>
</div>
<div class="loader" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<router-outlet></router-outlet>
