.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 15px;
  backdrop-filter: saturate(200%) blur(10px);
  display: flex;
  // width: 100%;

  .header-title-container {
    display: flex;
    align-items: center;
  }

  h1 {
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: transparent;
    margin-left: 2em;
    background: radial-gradient(
      circle at 10% 50.5%,
      rgb(255, 130, 47) 0%,
      rgb(249, 21, 116) 90%
    );
    background-clip: text;
  }

  .header-links-container {
    display: flex;
    align-items: center;
    margin-right: 2.2rem;

    ul {
      display: flex;
      // flex-direction: row;
      list-style: none;
      gap: 20px;
      color: rgb(72, 72, 72);
    }

    .profile-dropdown {
      position: relative;
      font-weight: bold;

      &:hover .dropdown-options {
        display: block;
      }

      .dropdown-options {
        display: none;
        position: absolute;
        width: 10rem;
        top: 100%;
        left: -52%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        list-style: none;
        padding: 10px;
        margin: 0;
        border-radius: 5px;
        text-align: center;

        li {
          cursor: pointer;
          padding: 10px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }

    .profile-dropdown:hover {
      opacity: 1;
    }
  }
}

.page-scroll-header {
  background-color: rgba(255, 255, 255, 0.249);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  .header-links-container {
    ul {
      li {
        color: black;
      }
    }
  }
}

.title-link {
  text-decoration: none;
}

.nav-link {
  font-weight: bold;
}
.nav-link:hover {
  opacity: 0.8;
}

.hamburger {
  display: none;
  /* Initially hidden */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

// media queries for small-mobile phones
@media screen and (max-width: 319px) {
  .header {
    padding: 15px 0;
  }

  .header-links-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    margin-right: 0;
  }

  h1 {
    margin-left: 0;
  }

  .header-title-container {
    padding: 0;
    width: 100vw;
    // gap: 40%;
    justify-content: space-between;
    margin-left: -5%;
    margin-right: -5px;
  }

  ul li {
    display: none;
  }

  .show-menu ul {
    margin-top: 20vw;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin-right: -20px;
    z-index: 999;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background: black;
      margin: 5px auto;
    }
  }

  .show-menu ul li {
    display: flex;
    flex-direction: column-reverse;
    font-size: larger;
    font-weight: bolder;
    margin-top: 1.5rem;
  }

  .side-panel {
    position: fixed;
    top: 0;
    left: 0px;
    width: 60%;
    height: 100vh;
    // background-color: #ffffff90;
    background-color: rgb(255 255 255 / 81%);
    backdrop-filter: saturate(200%) blur(10px);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
}

// media queries for mobile phones
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 15px 0;
  }

  .header-links-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    margin-right: 0;
  }

  h1 {
    margin-left: 0;
  }

  .header-title-container {
    padding: 0;
    width: 100vw;
    // gap: 40%;
    justify-content: space-between;
    margin-left: -5%;
    margin-right: -5px;
  }

  ul li {
    display: none;
  }

  .show-menu ul {
    margin-top: 20vw;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    // margin-right: 1.2rem;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background: black;
      margin: 5px auto;
    }
  }

  .show-menu ul li {
    display: flex;
    flex-direction: column-reverse;
    font-size: larger;
    font-weight: bolder;
    margin-top: 1.5rem;
  }

  .side-panel {
    position: fixed;
    top: 0;
    left: 0px;
    width: 60%;
    height: 100vh;
    background-color: rgb(255 255 255 / 81%);
    backdrop-filter: saturate(200%) blur(10px);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
}

// media queries for tablet
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 15px 0;
  }

  .header-links-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    margin-right: 0;
  }

  h1 {
    margin-left: 0;
  }

  .header-title-container {
    padding: 0;
    width: 100vw;
    // gap: 40%;
    justify-content: space-between;
    margin-left: -5%;
    margin-right: -5px;
  }

  ul li {
    display: none;
  }

  .show-menu ul {
    margin-top: 20vw;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    // margin-right: 1.2rem;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background: black;
      margin: 5px auto;
    }
  }

  .show-menu ul li {
    display: flex;
    font-size: x-large;
    margin-top: 2rem;
  }

  .side-panel {
    position: fixed;
    top: 0;
    left: 0px;
    width: 60%;
    height: 100vh;
    background-color: rgb(255 255 255 / 81%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 3;
  }
}

// media queries for large screens
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
